<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>About Us</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="assets/img/INREM-logo.png" rel="icon" />
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
        <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <!-- Template Main CSS File -->
    <link href="stylee.css" rel="stylesheet" />
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top header-inner-pages">
      <div class="container d-flex align-items-center">
        <h1 class="logo me-auto"><a href="index.html">INREM Foundation</a></h1>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
            <li><a class="nav-link scrollto" href="#cta">Donate</a></li>
            <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
            <li>
              <a class="getstarted scrollto" href="#about">Login/Register</a>
            </li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->

    <main id="main">
      <br /><br /><br />
      <section class="inner-page">
        <!-- ======= Services Section ======= -->
        <section id="services" class="services section-bg">
          <div class="container" data-aos="fade-up">
            <div class="section-title">
              <h2>Our Mission</h2>
              <p>
                "To contribute towards reduction of the health burden caused due to water quality issues across India."
              </p>
            </div>
            </div>
          </div>
        </section>
        <!-- End Services Section -->
        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
          <div class="container" data-aos="fade-up">
            <div class="section-title">
              <h2>About Us</h2>
            </div>

            <div class="row content">
              <div class="col-lg-6">
                <p>
                  INREM brings a fresh and positive perspective to challenging global problems that affect 
            each one of us. In 27 years of evolution, the organization has grown to emerge 
            as a leading group in India that specializes in new innovations and ideas in the space of 
            Safe water and Health.
                </p>
                <ul>
                  <li>
                    <i class="ri-check-double-line"></i> Under its broader organization mandate of Natural resource management (NRM) and focus of training
                    and research, INREM has now teams in 7 states of India
                  </li>
                  <li>
                    <i class="ri-check-double-line"></i> One of the sectors where the organization has had a significant impact in 
                    the last 10 years has been in Water Quality Management (WQM). Innovations in integrated 
                    approaches have resulted in vast health improvements, starting from environmental and 
                    nutritional changes.
                  </li>
                </ul>
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0">
                <p>
                  The teams of INREM now contribute to 3 flagship initiatives that are supported by various 
            philanthropies - Indian and global. The organizations works closely with Government of India 
            and with different state government on several national missions.
                </p>
                <a href="#" class="btn-learn-more">Learn More</a>
              </div>
            </div>
          </div>
        </section>
        <!-- End About Us Section -->

        <!-- ======= Team Section ======= -->
        <section id="team" class="team section-bg">
          <div class="container" data-aos="fade-up">
            <div class="section-title">
              <h2>INREM Board</h2>
            </div>

            <div class="row">
              <div class="col-lg-6">
                <div
                  class="member d-flex align-items-start"
                  data-aos="zoom-in"
                  data-aos-delay="100"
                >
                  <div class="pic">
                    <img
                      src="assets/img/team.png"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                  <div class="member-info">
                    <h4>Dr. Katar Singh</h4>
                    <span>Chairman</span>
                    <div class="social">
                      <a href=""><i class="ri-twitter-fill"></i></a>
                      <a href=""><i class="ri-facebook-fill"></i></a>
                      <a href=""><i class="ri-instagram-fill"></i></a>
                      <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 mt-4 mt-lg-0">
                <div
                  class="member d-flex align-items-start"
                  data-aos="zoom-in"
                  data-aos-delay="200"
                >
                  <div class="pic">
                    <img
                      src="assets/img/team.png"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                  <div class="member-info">
                    <h4>Dr. Sunderrajan Krishnan</h4>
                    <span>Executive Director</span>
                    <div class="social">
                      <a href=""><i class="ri-twitter-fill"></i></a>
                      <a href=""><i class="ri-facebook-fill"></i></a>
                      <a href=""><i class="ri-instagram-fill"></i></a>
                      <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 mt-4">
                <div
                  class="member d-flex align-items-start"
                  data-aos="zoom-in"
                  data-aos-delay="300"
                >
                  <div class="pic">
                    <img
                      src="assets/img/team.png"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                  <div class="member-info">
                    <h4>Prof Tushaar Shah</h4>
                    <span>Vice -Chairman</span>
                    <div class="social">
                      <a href=""><i class="ri-twitter-fill"></i></a>
                      <a href=""><i class="ri-facebook-fill"></i></a>
                      <a href=""><i class="ri-instagram-fill"></i></a>
                      <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End Team Section -->
      </section>
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 footer-contact">
              <h3>INREM Foundation</h3>
              <p>
                Block B, Paramkrishna Apts, <br />
                Near IRMA, Anand,<br />
                Gujarat -388001, India <br /><br />
                <strong>Phone:</strong> +91 2692262385<br />
                <strong>Email:</strong> inremf@gmail.com<br />
              </p>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#">Home</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#">About us</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#">Donate</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Our Social Networks</h4>
              <div class="social-links mt-3">
                <a href="https://twitter.com/inremwater?lang=en" class="twitter"
                  ><i class="bx bxl-twitter"></i
                ></a>
                <a
                  href="https://www.facebook.com/inremfoundation/?ti=as"
                  class="facebook"
                  ><i class="bx bxl-facebook"></i
                ></a>
                <a
                  href="https://www.linkedin.com/company/inrem-foundation/"
                  class="linkedin"
                  ><i class="bx bxl-linkedin"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container footer-bottom clearfix"></div>
    </footer>
    <!-- End Footer -->

    <div id="preloader"></div>
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
        <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>

    <!-- Template Main JS File -->
    <script src="main.js"></script>
  </body>
</html>