<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login/SignUp</title>
    <link rel="stylesheet" href="css/style.css" />
    <script src="css/my.js" defer></script>
  </head>
  <body>
    <div class="container" id="container">
      <div class="form-container sign-up-container">
        <form action="/register" method="post">
          <h1>Create Account</h1>
          <!-- <div class="social-container">
            <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
            <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
          </div> -->
          <span>Use your Email ID for registration</span>
          <input type="text" required placeholder="Name" name="name" >
          <input type="email" required placeholder="Email" name="username" >
          <input type="password" required placeholder="Password" name="password" >
          <button type="submit">Sign Up</button>
        </form>
      </div>
      <div class="form-container sign-in-container">
        <form action="/login" method="post">
          <h1>Sign In</h1>
          <span>Use your account</span>
          <input type="email" required  placeholder="Email" name="email" />
          <input type="password" required  placeholder="Password" name="password" />
          <a href="/forgotPassword">Forgot your password?</a>
          <button type="submit">Sign In</button>
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1>Welcome Back!</h1>
            <p>
              To keep connected with us please login with your personal info
            </p>
            <button class="ghost" id="signIn">Sign In</button>
          </div>
          <div class="overlay-panel overlay-right">
            <h1>Hello, Fellow water enthusiasts!</h1>
            <p>Enter your personal details and start journey with us</p>
            <button class="ghost" id="signUp">Sign Up</button>
          </div>
        </div>
      </div>
    </div>
 
  </body>
  
</html>